{
  "parser": "babel-eslint",
  "extends": "airbnb",

  "env": {
    "browser": true
  },
  "plugins": [
    "react"
  ],
  "rules": {
    "comma-dangle": "off",
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "import/prefer-default-export": "off",
    "react/prop-types": "off",
    "max-len": "off",
    "no-underscore-dangle": "off"
  }
}
