.controls {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 120px;
}

.audio-control {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    margin-right: 10px;
}

.splash-anim {
    animation: splash .5s ease-in-out;
}

.audio-control_btn {
    transition: all .25s ease;
    width: 28px;
    height: 28px;
    background-color: #52554c;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    z-index: 10;
}
