.player {
  display: flex;
  flex-direction: row;
  background: #929292;
  padding: 15px;
  width: 100%;
  box-sizing: border-box;
  align-items: center;
}

.progress-bar-time {
    width: 100px;
    font-size: 12px;
    color: #fff;
    margin-right: 10px;
}

.progress-bar-volume-handle {
  background-color: #52554c;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-right: 10px;
}
